body {
    margin: 0;
    font-family: sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
}

nav {
    width: 220px;
    background: #020617;
    padding: 20px;
    height: 100vh;
}

nav a {
    display: block;
    color: #c7d2fe;
    margin: 15px 0;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 12px;
}

.logout-btn {
    margin-top: 30px;
    padding: 8px;
    background: #ef4444;
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
}
